
QStackedWidget  QPushButton{
    font-size : 16px;
    font-family : 'Helvet';
}

QStackedWidget QScrollArea QPushButton{
    color : green;
}

QStackedWidget QScrollArea QPushButton:disabled{
    color : red;
}